.logo {
    width: 150px;
}

.header-container {
    display:flex;
    margin-left: auto;
    gap: 12px;
    flex-direction: row;

}

body {
    background-image: url(images/orvBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
